# Ignore everything
*

# Keep the directory structure
!Raycom/

# Ignore everything inside Raycom except the 3 target files
Raycom/*
!Raycom/raycom-tool.py
!Raycom/train_pix2pix.py
!Raycom/test_pix2pix.py

# Ensure .gitignore itself is tracked
!.gitignore
